*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  margin: 0;
  font-size: 16px;
  background-image: url("../assets/background.jpeg");
  background-size: cover;
  background-position: center;

  color: #d4d1d1;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  margin: 4em auto;
  width: 70%;
  padding: 1.5em;
  border-radius: 10px;
  background-color: #282828;
  border: 2px solid;
}

.prediction {
  padding: 0;
}

.prediction-title {
  font-size: 1.5rem;
  color: #dadada;
  text-align: center;
  font-family: "Montserrat";
  margin: 0;
}

.prediction-text {
  font-family: "Open Sans";
  font-size: 0.8rem;
}

input,
select,
button {
  margin: 0.5em 0 1em 0;
  background-color: #1a1a1a;
  border-radius: 5px;
  color: rgb(139, 139, 139);
  padding: 0.2em;
  width: 100%;
}

button {
  padding: 0.5em;
  background-color: #d4d1d1;
  color: #1a1a1a;
  border: 0;
  margin-top: 2em;
}

button:hover {
  background-color: rgb(139, 139, 139);
  cursor: pointer;
}

.result {
  display: flex;
  flex-direction: column;
}

.result-text {
  border: 2px solid;
  padding: 1em;
}

.attribution {
  font-size: 0.8rem;
  color: #ffffff;
}

.attribution a {
  color: lightblue;
}
.attribution a:hover {
  color: lightcoral;
}

@media (min-width: 1150px) {
  .prediction-title {
    font-size: 2.5rem;
  }

  .prediction-text {
    font-size: 1rem;
  }

  input,
  select,
  button {
    padding: 1em;
  }

  button {
    font-size: 1.1rem;
    font-weight: bold;
  }
}
